In [3]:
import pandas as pd
import sqlite3 as sql

df = pd.read_csv('massviews-20241208-20241215.csv')
breed_list = pd.read_table('dog_list.txt', header=None)

breed_list = breed_list.map(lambda x: x.strip(' [1234567890]'))
df_strip = df.replace((r"\s*\(.*\)"), "", regex=True)
df_new = breed_list.merge(df_strip, 'left', left_on=0, right_on='Title')
df_new.head()

# unmatch_dogs = set(dogs).difference(set(dogs_wiki))
# len(unmatch_dogs)

# con = sql.connect('dog_breeds_wiki.db')
# df_new.to_sql('dogs_pageviews', con, if_exists='replace')

,0,Title,2024-12-08,2024-12-09,2024-12-10,2024-12-11,2024-12-12,2024-12-13,2024-12-14,2024-12-15
0,Affenpinscher,Affenpinscher,323.0,300.0,251.0,250.0,249.0,272.0,278.0,317.0
1,Afghan Hound,Afghan Hound,598.0,491.0,508.0,497.0,493.0,488.0,589.0,632.0
2,Africanis,Africanis,218.0,196.0,384.0,1213.0,1006.0,667.0,495.0,424.0
3,Aidi,Aidi,87.0,84.0,97.0,96.0,85.0,102.0,113.0,100.0
4,Airedale Terrier,Airedale Terrier,692.0,595.0,570.0,515.0,566.0,502.0,657.0,630.0

In [ ]:
# df_unmatched = df_strip.merge(breed_list, 'inner', left_on='Title', right_on=0)
# df_unmatched.head()
breed_list.compare(df_strip)

In [ ]:
# df2 = df.assign(result=df['Title'].isin(breed_list[0]))
# df2

# def keep_names_merge(df1, df2):
# dogs = breed_list[0].tolist()
# dogs_wiki = df['Title'].tolist()

# unmatch_dogs = set(dogs).difference(set(dogs_wiki))
# len(unmatch_dogs)

missing_df = df_new[0][df_new.isnull().any(axis=1)]
len(missing_df)

In [ ]:
# data['result'] = data['result'].map(lambda x: x.lstrip('+-').rstrip('aAbBcC'))

breed_list = breed_list.map(lambda x: x.strip(' [1234567890]'))
breed_list

In [ ]:
# df_strip = df['Title'].map(lambda x: x.strip('(aAbB)'))
# df_strip
df_strip = df.replace((r"\s*\(.*\)"), "", regex=True)
df_strip

In [ ]:
#df1 = df1[~df1.index.isin(df2.index)]

#df_new = df[~df.index.isin(il)]
# il = breed_list.set_index(0).index
# breed_list = breed_list.drop('name', axis=1)
#breeds = breed_list[0].tolist()
#df['Title'].isin(breed_list)