In [2]:
import pandas as pd
import sqlite3 as sql

df = pd.read_csv('massviews-20241208-20241215.csv')
breed_list = pd.read_table('dog_list.txt', header=None)

breed_list = breed_list.map(lambda x: x.strip(' [1234567890]'))
df_strip = df.replace((r"\s*\(.*\)"), "", regex=True)
df_new = breed_list.merge(df_strip, 'left', left_on=0, right_on='Title')


# unmatch_dogs = set(dogs).difference(set(dogs_wiki))
# len(unmatch_dogs)

# con = sql.connect('dog_breeds_wiki.db')
# df_new.to_sql('dogs_pageviews', con, if_exists='replace')

,2024-12-08,2024-12-09,2024-12-10,2024-12-11,2024-12-12,2024-12-13,2024-12-14,2024-12-15
count,513.000000,513.000000,513.000000,513.000000,513.000000,513.000000,513.000000,513.000000
mean,307.623782,263.194932,259.576998,259.249513,270.902534,267.922027,294.701754,301.528265
std,530.687814,460.125837,470.027462,461.864005,495.708180,472.690274,505.365306,525.502902
min,3.000000,4.000000,1.000000,1.000000,4.000000,3.000000,2.000000,2.000000
25%,33.000000,34.000000,28.000000,28.000000,31.000000,30.000000,34.000000,33.000000
50%,94.000000,86.000000,77.000000,75.000000,83.000000,85.000000,100.000000,99.000000
75%,285.000000,253.000000,247.000000,243.000000,246.000000,252.000000,272.000000,272.000000
max,4671.000000,4185.000000,4093.000000,3931.000000,4054.000000,3929.000000,4351.000000,4628.000000

In [4]:
df_new.sort_values

count     513.000000
mean      301.528265
std       525.502902
min         2.000000
25%        33.000000
50%        99.000000
75%       272.000000
max      4628.000000
Name: 2024-12-15, dtype: float64

In [ ]:
# df2 = df.assign(result=df['Title'].isin(breed_list[0]))
# df2

# def keep_names_merge(df1, df2):
# dogs = breed_list[0].tolist()
# dogs_wiki = df['Title'].tolist()

# unmatch_dogs = set(dogs).difference(set(dogs_wiki))
# len(unmatch_dogs)

missing_df = df_new[0][df_new.isnull().any(axis=1)]
len(missing_df)

In [ ]:
# data['result'] = data['result'].map(lambda x: x.lstrip('+-').rstrip('aAbBcC'))

breed_list = breed_list.map(lambda x: x.strip(' [1234567890]'))
breed_list

In [ ]:
# df_strip = df['Title'].map(lambda x: x.strip('(aAbB)'))
# df_strip
df_strip = df.replace((r"\s*\(.*\)"), "", regex=True)
df_strip

In [ ]:
#df1 = df1[~df1.index.isin(df2.index)]

#df_new = df[~df.index.isin(il)]
# il = breed_list.set_index(0).index
# breed_list = breed_list.drop('name', axis=1)
#breeds = breed_list[0].tolist()
#df['Title'].isin(breed_list)